Repository Mdaftab/GKE_cluster_with_terraform01: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-fmt, terraform-validate, generate-diagrams, validate-workflow

terraform-fmt:
  name: Terraform fmt
  entry: terraform fmt -recursive
  language: system
  pass_filenames: false

terraform-validate:
  name: Terraform validate
  entry: bash -c 'cd environments/dev && terraform init -backend=false && terraform validate'
  language: system
  pass_filenames: false

generate-diagrams:
  name: Generate Infrastructure Diagrams
  entry: python3 scripts/generate_diagrams.py
  language: system
  pass_filenames: false

validate-workflow:
  name: Validate Workflow
  entry: scripts/validate_workflow.sh
  language: system
  pass_filenames: false

fix: Update GitHub Actions workflow syntax
  .github/workflows/terraform.yml
Due: validate-workflow

feat: Add resource labels to GKE cluster
  modules/gke/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Update Python environment handling in workflow
  .github/workflows/terraform.yml
  requirements.txt
Due: validate-workflow

feat: Enable network policy and update labels
  modules/gke/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

feat: Add team label and ensure Workload Identity config
  modules/gke/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Update GCP Workload Identity Federation setup script
  scripts/setup_gcp_auth.sh
Due: validate-workflow

chore: Switch to service account key authentication for GitHub Actions
  .github/workflows/terraform.yml
  .gitignore
Due: validate-workflow

style: Fix Terraform formatting
  modules/gke/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Update GKE module configuration with correct attributes
  modules/gke/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

style: Fix Terraform formatting alignment
  modules/gke/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Update GKE module configuration to use correct attribute names
  modules/gke/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Update GKE module workload identity configuration
  modules/gke/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Update GKE module variables
  modules/gke/variables.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Update main Terraform configuration and variables
  environments/dev/main.tf
  environments/dev/variables.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Remove authorized_ip from VPC module
  modules/vpc/main.tf
  modules/vpc/variables.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Remove authorized_ip from main configuration
  environments/dev/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Add cluster_name variable and remove authorized_ip
  environments/dev/main.tf
  modules/gke/main.tf
  modules/gke/variables.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

fix: Update Python scripts to handle HCL list format
  README.md
  scripts/generate_diagrams.py
  scripts/update_readme.py
Due: none

refactor: streamline setup scripts and improve documentation
  .github/workflows/terraform.yml
  README.md
  scripts/docs_generator.py
  scripts/init.sh
  scripts/setup.sh
Due: validate-workflow

fix: correct environment syntax in GitHub Actions workflow
  .github/workflows/terraform.yml
Due: validate-workflow

chore: remove .windsurfrules from git tracking and add to gitignore
  .gitignore
  .windsurfrules
Due: none

feat: enhance GitHub Actions workflow with visual graph
  .github/workflows/terraform.yml
Due: validate-workflow

feat: implement self-destruction mechanism for GKE cluster with notification system
  .github/workflows/terraform.yml
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  environments/dev/main.tf
  environments/dev/terraform.tfvars.example
  environments/dev/variables.tf
  modules/gke/main.tf
  modules/gke/self_destruct.tf
  modules/gke/variables.tf
  scripts/setup_gcp_auth.sh
Due: terraform-fmt, terraform-validate, generate-diagrams, validate-workflow

feat: update documentation and remove deprecated scripts; add Python requirements
  .gitignore
  CLAUDE.md
  docs/DEPLOYMENT.md
  environments/dev/terraform.tfvars.example
  requirements.txt
  scripts/generate_diagrams.py
  scripts/init.sh
  scripts/setup_environment.sh
  scripts/update_readme.py
  scripts/validate_workflow.sh
Due: validate-workflow

Remove deprecated setup scripts and add new monitoring and security modules
  .github/workflows/terraform.yml
  .gitignore
  .pre-commit-config.yaml
  .tflint.hcl
  CLAUDE.md
  README.md
  docs/ARCHITECTURE.md
  docs/DEPLOYMENT.md
  docs/diagrams/.gitkeep
  environments/dev/main.tf
  environments/dev/terraform.tfvars.example
  environments/dev/variables.tf
  kubernetes/manifests/deployment.yaml
  kubernetes/manifests/logging.yaml
  kubernetes/manifests/monitoring.yaml
  modules/gke/main.tf
  modules/gke/self_destruct.tf
  modules/gke/variables.tf
  modules/monitoring/main.tf
  modules/monitoring/outputs.tf
  modules/monitoring/variables.tf
  modules/network-policy/main.tf
  modules/network-policy/outputs.tf
  modules/network-policy/variables.tf
  modules/security/main.tf
  modules/security/outputs.tf
  modules/security/variables.tf
  modules/vpc/main.tf
  modules/vpc/variables.tf
  requirements.txt
  scripts/bootstrap.sh
  scripts/connect.sh
  scripts/docs_generator.py
  scripts/setup.sh
  scripts/setup_environment.sh
  scripts/setup_gcp_auth.sh
  scripts/validate_workflow.sh
Due: terraform-fmt, terraform-validate, generate-diagrams, validate-workflow

feat(security): Add input validation for project_id, service_account_id, and cluster_name variables
  modules/gke/README.md
  modules/gke/main.tf
  modules/gke/variables.tf
  modules/monitoring/README.md
  modules/monitoring/main.tf
  modules/monitoring/variables.tf
  modules/network-policy/README.md
  modules/network-policy/main.tf
  modules/network-policy/variables.tf
  modules/security/README.md
  modules/security/main.tf
  modules/security/variables.tf
  modules/vpc/README.md
  modules/vpc/main.tf
  modules/vpc/variables.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

feat: simplify GKE deployment by removing monitoring and security modules, and updating related configurations
  .gitignore
  README.md
  environments/dev/backend.tf
  environments/dev/main.tf
  environments/dev/outputs.tf
  environments/dev/variables.tf
  modules/gke/main.tf
  modules/gke/variables.tf
  modules/monitoring/main.tf
  modules/monitoring/variables.tf
  modules/security/main.tf
  modules/security/variables.tf
  modules/vpc/main.tf
Due: terraform-fmt, terraform-validate, generate-diagrams

feat: update README to reflect simplified GKE deployment and remove outdated content
  README.md
Due: none

feat: update README to clarify bootstrap script usage and streamline deployment instructions
  README.md
Due: none

Path conditions:
  terraform-fmt: any of: \.tf$
  terraform-validate: any of: \.tf$
  generate-diagrams: any of: (?x)^(
    modules/.*\.tf|
    environments/.*/.*\.tf|
    kubernetes/manifests/.*\.ya?ml
)$

  validate-workflow: any of: (?x)^(
    \.github/workflows/.*\.ya?ml|
    scripts/.*\.sh|
    \.pre-commit-config\.yaml
)$

